body {
  font-family: "Noto Sans TC", "Roboto", "Helvetica", "Arial", sans-serif;
}
.iconfont {
  cursor: pointer;
  font-size: 1.375rem;
}

.swiper-container {
  width: 100%;
  height: auto;
}

$ipad: max-width 768px;
$ipad-pro: max-width 965px;
$iphone: max-width 500px;


$color_deep-gray: #707070;
$color_courseName: #1b1b1b;
$color_tab-hover: #0075a9;
$color_topCourseTab-hover: #ec6941;
$color_readMoreBtn: #68afdc;
$color_footerNav: #2f3e53;
$color_logo_red: #e13221;
$color_login: #f39800;
$color_category_eng: #c9c9c9;
$color_tipsBg: #eeeeee;
$color_tipsBrLeft: #0075a9;
$color_lightBlueBtn: #00bbd3;
$color_btnFree: #1983b1;
$color_btnSpan: #fff100;
$color_freetry: #3db1e6;
$color_warning: #a40000;
$color_button: #e60012;
$color_class: #df2012;
$color_regulationBg: #f7f7f7;
$color_introBgOdd: #f8f8f8;
$color_tableHeadingBg: #e5e5e5;
$color_level5: #219916;

$underLine: #aaaaaa;
$primary: #B60033;
$paper: #F5F5F5;
$footerBG: #F4F4F4;



$danger: #ff4136;

$theme-colors: (
        "primary": $primary,
        "danger": $danger
);
// Create your own map
$Empy-color: (
        "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $Empy-color);

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}